.extras-form {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap; */
  width: 100%;
  align-items: flex-end;

}

.extras-controls {
  /* margin-bottom: 30px; */
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

#max-quantity {
  width: 80px;
}

/* .extras-all {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
} */

/* .left-extras-all {
  display: flex;
  flex-direction: column;
} */

.extras-controls.form-group {
  margin: 0;
}

